<h1>Islands of Richness</h1>

<p>
  This is a standard Rails template with dedicated placeholder divs.
</p>

<div class="placeholder" id="placeholder-1"></div>

<p>
  Each placeholder is styled and labeled like this to make it easier to see what's going on.
</p>

<div class="placeholder" id="placeholder-2"></div>
