h1 Bateman Rails

p It's #{Time.now}. Do you know where your children are?

.placeholder#placeholder-1

p And now for something completely different...

.placeholder#placeholder-2

h2 Redis

.thing #{@thing}

input.thing-value placeholder='17'

button.create-thing onclick='createThing()' Create Thing
