// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'palette';
@import 'config';

body {
  background-color: palette('white');
  color: palette('black');
  font-family: sans-serif;
  font-size: 15px;
}

.DemoContainer {
  border: dotted 2px rebeccapurple;
  border-radius: 6px;
  font-family: sans-serif;
  padding: 20px;
  margin: 20px 0;
}

.RailsIsland {
  background-color: white;
  border: solid 2px palette('teal');
  margin-top: g(2);
  min-height: g(10);
  padding: 5px;
  position: relative;

  &::before {
    background: palette('teal');
    color: palette('white');
    content: 'Rails Island - #' attr(id);
    padding: 5px 10px;
    position: absolute;
    left: -2px;
    top: -29px;
  }
}
